/* SurveysComponent's private CSS styles */

  .survey-card {
    max-width: 92%;
    margin-bottom: 12px;
    
  }
  
  .survey-card-content {
    box-sizing: border-box;
    /* background-color: aqua; */
    overflow: hidden;
    height: 18px;
    
  }

  .survey-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-image: url('../../assets/one-48x48.jpg');
    background-size: cover;
  }
 
    