
<ul class="surveys" style="list-style-type: none;">
  <li *ngFor="let survey of surveys"
    [class.selected]="survey === selectedSurvey"
    (click)="onSelect(survey)">
    
    <mat-card class="survey-card">
        <mat-card-header>
          <div mat-card-avatar class="survey-header-image"></div>
          <mat-card-title>{{survey.platform}} - {{survey.surveyDate | date:"EEEE d MMMM yyyy @ h:mm a"}}</mat-card-title>
          <mat-card-subtitle>{{survey.surveyType}} survey at {{survey.compartment}} {{survey.location}} </mat-card-subtitle>
        </mat-card-header>
        <mat-divider [vertical]="true">
        </mat-divider>
        <mat-card-content class="survey-card-content">
            <p>
              {{survey.description}}
            </p>
          </mat-card-content>    
      </mat-card>
      
  </li>
</ul>
 
<div *ngIf="selectedSurvey">
 
  <h2>{{selectedSurvey.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedSurvey.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedSurvey.name" placeholder="name"/>
    </label>
  </div>
 
</div>