/* You can add global styles to this file, and also import other style files 
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  /*
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  */

  @import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; background-color: #0c499c; color: white}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.babcock-radio-button {
  padding-left: 5%;
  padding-right: 5%;
  width: 40%;
  color: white;
  }

.babcock-button {
    padding-left: 5%;
    color: grey;
    }

.babcock-select {
      padding-left: 5%;
      width: 40%;
      padding-right: 5%;
      color: grey;
      background-color: white
      }

.babcock-text-description {
      padding-left: 5%;
      padding-right: 5%;
      width: 90%;
      color: black;
      background-color: white;
      }

      .babcock-survey-header {
        text-align: center;
        color: gray;
        }      
            